body {
    background: pink;
}
.clock {
    font-size: 3em;
    text-align: center;
    margin: 100px auto;
    color: rgb(90, 23, 177);
    font-family: arial;
    padding: 10px;
}
.clock span {
    padding: 10px;
    background: magenta;
}