body {
    background: #15193d;
}
.clock {
    font-size: 3em;
    text-align: center;
    margin: 100px auto;
    color: rgb(37, 209, 37);
    font-family: arial;
    padding: 10px;
}
.clock span {
    padding: 10px;
    background: #242563;
}